/* Be Vietnam Pro */

@font-face {
    font-family: 'Be Vietnam Pro';
    src: local('Be Vietnam Pro Light'), local('BeVietnamPro-Light'),
        url('../webfonts/be-vietnam-pro/BeVietnamPro-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Be Vietnam Pro';
    src: local('Be Vietnam Pro Medium'), local('BeVietnamPro-Medium'),
        url('../webfonts/be-vietnam-pro/BeVietnamPro-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}