@use "../mixins";

:root,
::before,
::after {
    /* Spacing */

    @include mixins.spacer-vars();

    /* Layout */

    --header-height: 55px;
    --header-space-block: var(--spacer-100);

    /* Content */

    --content-width: 75rem;
    --content-width-expanded: 100%;
}
