---
import Layout from '@/layouts/Layout.astro';
import SkillsShowcase from '@/components/SkillsShowcase.astro';
import Timeline from '@/components/Timeline.astro';

import { Picture } from 'astro:assets';
import imageWebDeveloper from '@/images/web-developer.jpg';
import imageFrontendSkills from '@/images/frontend-skills.jpg';
import imageBackendSkills from '@/images/backend-skills.jpg';
---

<Layout robots="index, follow" description="Web developer in Madrid, Spain. Creating awesome and functional websites using HTML, CSS, JavaScript, PHP, MySQL. Check out my featured projects.">
	<section class="content-wrapper bg-image" role="contentinfo" aria-label="About me">
		<div class="bg-image-wrapper" data-bg-image-overlay="8" data-bg-image-blur="1">
			<Picture src={ imageWebDeveloper } formats={['avif', 'webp']} alt="Weaving Digital Journeys" width="1920" loading="eager" />
		</div>
		<div class="row padding-500 content-text">
			<div class="col xmedium-8">
				<h1>Crafting Digital Experiences</h1>

				<p>Hi! My name is Jeremy. I am a web developer with over a decade of experience in creating stunning and functional websites!</p>
				<p>I've had the privilege of collaborating with clients from Germany and the Czech Republic and now I am looking forward to working on new projects in Spain - Madrid.</p>
				<p>Let's connect and explore how I can elevate your next project!</p>
			</div>
		</div>
	</section>

	<section class="content-wrapper bg-tertiary-300" role="contentinfo" aria-label="My Skill Set: A Reflection of My Passion, Curiosity, and Dedication to Learning">
		<div class="row content-text padding-500">
			<div class="col text-center">
				<h2>My Skill Set: A Reflection of My Passion, Curiosity, and Dedication to Learning</h2>
			</div>
			<div class="col">
				<SkillsShowcase />
			</div>
		</div>
	</section>

	<Timeline title="Web Dev Showcase: A Collection of My Projects" featured={ true } />

	<section class="content-wrapper bg-accent-300" role="contentinfo" aria-label="Which technologies do I use?">
		<div class="row content-text padding-top-500">
			<div class="col xxmedium-6">
				<h3>HTML, CSS, and JavaScript: The Cornerstones of Web Development</h3>

				<p>
					HTML, CSS, and JavaScript work in harmony to create the digital world we navigate daily. These three technologies form the bedrock upon which every digital experience is built.<br>
					As a web developer, I use their combined power to build functional, beautiful, and user friendly websites.
				</p>
				<p>
					Proper HTML structure ensures that each part and element of the website is easily accessible and well organized.
				</p>
				<p>
					With CSS I make sure to add colors, fonts, animations and create layouts that transform plain HTML into visually appealing design. Whether it's a sleek corporate site or a funky portfolio, CSS gives it character.
					Responsive design? No problem - CSS ensures our websites adapt gracefully to different screen sizes.
				</p>
				<p>
					Using JavaScript I can create interactive forms, build sliders, and fetch data from APIs. It's the language that turns a website into a web application.
				</p>
			</div>
			<div class="col xxmedium-6 content-image b-shadow-bottom border">
				<div class="content-image-wrapper">
					<Picture src={ imageFrontendSkills } formats={['avif', 'webp']} alt="Crafting Web Experiences: The Trifecta of HTML, CSS, and JavaScript" width="950" class="skills-image" />
				</div>
			</div>
		</div>

		<div class="row content-text padding-bottom-500 single-row-xxmedium">
			<div class="col xxmedium-7-12">
				<h3>PHP and MySQL: The Dynamic Duo of Web Development</h3>

				<p>
					PHP and MySQL are two powerful technologies that enable web developers to create dynamic and data-driven websites.
					Together, they form the backbone of many popular web applications, such as WordPress, Facebook, and Wikipedia.
				</p>
				<p>
					Whether it's a blog, a custom portfolio site, or a content management system, I can use both technologies to create robust and scalable web applications that deliver a great user experience and meet the specific needs of my clients.
				</p>
				<p>
					Integrating PHP with other technologies, such as HTML, CSS, JavaScript, and AJAX, allows me to create a rich and interactive web environment.
				</p>
			</div>
			<div class="col xxmedium-1-6 content-image b-shadow-bottom border">
				<div class="content-image-wrapper">
					<Picture src={ imageBackendSkills } formats={['avif', 'webp']} alt="Powering Web Applications with PHP and MySQL" width="950" class="skills-image" />
				</div>
			</div>
		</div>
	</section>
</Layout>

<style lang="scss">
	@include breakpoint(xmedium, down) {
		.skills-image {
			max-height: 300px;
		}
	}
</style>