---
import { pageConfig } from '@/page.config.mjs';

import Layout from '@/layouts/Layout.astro';
import ContactForm from '@/components/Forms/ContactForm.astro';

import { Picture } from 'astro:assets';
import imageContact from '@/images/contact.jpg';
---

<Layout title="Contacto">
	<div class="row content-text">
		<div class="col xmedium-6">
			<h1>¿Por qué trabajar conmigo?</h1>
			
			<p>Me especializo en crear sitios web amigables para el usuario que involucran a los visitantes y generan resultados. ¡Construyamos algo genial juntos!</p>

			<h2>Ponte en contacto conmigo</h2>

			<p>¡Gracias por considerar trabajar conmigo en tus proyectos web! Estoy emocionado de colaborar y dar vida a tus ideas.<br>Aquí están las formas en que puedes ponerte en contacto:</p>

			<ul>
				<li>
					<span>
						<strong>Dirección</strong>: { pageConfig.address }
					</span>
				</li>
				<li>
					<span>
						<strong>Correo electrónico</strong>: <a href={ 'mailto:' + pageConfig.email } target="_blank" rel="nofollow" title="Mi correo electrónico">{ pageConfig.email }</a>
					</span>
				</li>
				<li>
					<span>
						<strong>GitHub</strong>: <a href={ pageConfig.social.github } target="_blank" rel="nofollow" title="GitHub">{ pageConfig.social.github.replace('https://', '') }</a>
					</span>
				</li>
				<li>
					<span>
						<strong>X (Twitter)</strong>: <a href={ pageConfig.social.twitter } target="_blank" rel="nofollow" title="X (Twitter)">{ pageConfig.social.twitter.replace('https://', '') }</a>
					</span>
				</li>
				<li>
					<span>
						<strong>Instagram</strong>: <a href={ pageConfig.social.instagram } target="_blank" rel="nofollow" title="Instagram">{ pageConfig.social.instagram.replace('https://www.', '') }</a>
					</span>
				</li>
			</ul>
			
			<div class="content-image b-shadow-bottom border">
				<div class="content-image-wrapper">
					<Picture src={ imageContact } formats={['avif', 'webp']} alt="Contactame" width="800" class="contact-image" />
					<style>
						.contact-image {
							max-height: 325px;
						}
					</style>
				</div>
			</div>

			<hr>
			<p>¡Espero escuchar de ti pronto!</p>
		</div>
		<div class="col xmedium-6">
			<div class="row">
				<div class="col">
					<h3>Formulario de contacto</h3>
					<p>Utiliza el formulario a continuación para compartir detalles del proyecto, hacer preguntas o discutir posibles colaboraciones. Te responderé lo más rápido posible.</p>
				</div>

				<div class="col">
					<ContactForm />
				</div>
			</div>
		</div>
	</div>
</Layout>