---
import { pageConfig } from '@/page.config.mjs';

import Layout from '@/layouts/Layout.astro';
import ContactForm from '@/components/Forms/ContactForm.astro';
---

<Layout title="Contacto">
	<div class="row content-text">
		<div class="col xmedium-6">
			<h1>Ponte en contacto conmigo</h1>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas asperiores tenetur atque? Soluta animi laborum, atque temporibus ab nihil facilis consectetur!</p>
			<ul>
				<li>
					<span>
						<strong>Dirección</strong>: { pageConfig.address }
					</span>
				</li>
				<li>
					<span>
						<strong>Correo electrónico</strong>: <a href={ 'mailto:' + pageConfig.email } target="_blank" rel="nofollow" title="Mi correo electrónico">{ pageConfig.email }</a>
					</span>
				</li>
			</ul>
		</div>
		<div class="col xmedium-6">
			<ContactForm />
		</div>
	</div>
</Layout>