---
import Layout from '@/layouts/Layout.astro';
import SkillsShowcase from '@/components/SkillsShowcase.astro';
import Timeline from '@/components/Timeline.astro';

import { Picture } from 'astro:assets';
import imageWebDeveloper from '@/images/web-developer.jpg';
import imageFrontendSkills from '@/images/frontend-skills.jpg';
import imageBackendSkills from '@/images/backend-skills.jpg';
---

<Layout robots="index, follow" description="Desarrollador web en Madrid, España. Creando sitios web impresionantes y funcionales utilizando HTML, CSS, JavaScript, PHP, MySQL. Echa un vistazo a mis proyectos destacados.">
	<section class="content-wrapper bg-image" role="contentinfo" aria-label="Sobre mi">
		<div class="bg-image-wrapper" data-bg-image-overlay="8" data-bg-image-blur="1">
			<Picture src={ imageWebDeveloper } formats={['avif', 'webp']} alt="Tejiendo viajes digitales" width="1920" loading="eager" />
		</div>
		<div class="row padding-500 content-text">
			<div class="col xmedium-8">
				<h1>Creando Experiencias Digitales</h1>

				<p>Hola! Mi nombre es Jeremy. Soy un desarrollador web con más de una década de experiencia en crear sitios web impresionantes y funcionales!</p>
				<p>He tenido el privilegio de colaborar con clientes de Alemania y la República Checa y ahora estoy deseando trabajar en nuevos proyectos en España - Madrid.</p>
				<p>Conectemos y exploremos cómo puedo elevar tu próximo proyecto!</p>
			</div>
		</div>
	</section>

	<section class="content-wrapper bg-tertiary-300" role="contentinfo" aria-label="Mi Skill Set: Un reflejo de mi pasión, curiosidad y dedicación al aprendizaje">
		<div class="row content-text padding-500">
			<div class="col text-center">
				<h2>Mi Skill Set: Un reflejo de mi pasión, curiosidad y dedicación al aprendizaje</h2>
			</div>
			<div class="col">
				<SkillsShowcase />
			</div>
		</div>
	</section>
	
	<Timeline title="Proyectos destacados" featured={ true } />

	<section class="content-wrapper bg-accent-300" role="contentinfo" aria-label="Cómo uso mis conociminetos?">
		<div class="row content-text padding-top-500">
			<div class="col text-center">
				<h2>Cómo uso mis conociminetos?</h2>
			</div>
		</div>

		<div class="row content-text">
			<div class="col xxmedium-6">
				<h3>HTML, CSS y JavaScript: Los básicos del desarrollo web</h3>

				<p>
					HTML, CSS y JavaScript trabajan en armonía para crear el mundo digital que navegamos a diario. Estas tres tecnologías forman el cimiento sobre el que se construye cada experiencia digital.<br>
					Como desarrollador web, uso su poder combinado para construir sitios web funcionales, bonitos y fáciles de usar.
					
					Una estructura HTML adecuada garantiza que cada parte y elemento del sitio web sea fácilmente accesible y bien organizado.
				</p>
				<p>
					Con CSS me aseguro de añadir colores, fuentes, animaciones y crear diseños que transforman el HTML plano en un diseño visualmente atractivo. Ya sea un sitio corporativo elegante o un portafolio funky, CSS le da carácter. ¿Diseño adaptable? No hay problema - CSS asegura que nuestros sitios web se adapten con elegancia a diferentes tamaños de pantalla.
				</p>
				<p>
					Usando JavaScript puedo crear formularios interactivos, construir deslizadores y obtener datos de APIs. Es el lenguaje que convierte un sitio web en una aplicación web.
				</p>
			</div>
			<div class="col xxmedium-6 content-image b-shadow-bottom border">
				<div class="content-image-wrapper">
					<Picture src={ imageFrontendSkills } formats={['avif', 'webp']} alt="Creando Experiencias Web: La Tríada de HTML, CSS y JavaScript" width="950" class="skills-image" />
				</div>
			</div>
		</div>

		<div class="row content-text padding-bottom-500 single-row-xxmedium">
			<div class="col xxmedium-7-12">
				<h3>PHP y MySQL: El dúo dinámico del desarrollo web</h3>

				<p>
					PHP y MySQL son dos tecnologías poderosas que permiten a los desarrolladores web crear sitios web dinámicos y basados en datos. 
					Juntas, forman la columna vertebral de muchas aplicaciones web populares, como WordPress, Facebook y Wikipedia.
				</p>
				<p>
					Ya sea un blog, un sitio web personalizado o un sistema de gestión de contenidos, puedo usar ambas tecnologías para crear aplicaciones web robustas y escalables que ofrezcan una gran experiencia de usuario y satisfagan las necesidades específicas de mis clientes.
				</p>
				<p>
					Integrando PHP con otras tecnologías, como HTML, CSS, JavaScript y AJAX, puedo crear un entorno web rico e interactivo.
				</p>
			</div>
			<div class="col xxmedium-1-6 content-image b-shadow-bottom border">
				<div class="content-image-wrapper">
					<Picture src={ imageBackendSkills } formats={['avif', 'webp']} alt="PHP y MySQL: Desarrollo web dinámico desde cero" width="950" class="skills-image" />
				</div>
			</div>
		</div>
	</section>
</Layout>

<style lang="scss">
	@include breakpoint(xmedium, down) {
		.skills-image {
			max-height: 300px;
		}
	}
</style>