<!DOCTYPE html>
<html lang="es" dir="ltr" data-disable-motion>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>Adam Jeremy</title>

		<style>
			* {
				padding: 0;
				margin: 0;
			}

			html {
				font-size: 36px;
				font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
			}

			.layout-wrapper {
				display: grid;
				widows: 100%;
				height: 100vh;
				height: 100dvh;
				place-items: center;
			}
		</style>
	</head>
	<body>
		<div class="layout-wrapper">
			Maintenance
		</div>
	</body>
</html>