---
const { label, type, name, value, checked } = Astro.props;
---

<label>
	<input type={ type } name={ name ?? null } value={ value ?? null } checked={ checked ?? null }>
	<span class="form-label-inline">{ label }</span>
</label>