---
import { IoInformationCircleSharp } from "react-icons/io5";

const { label, name } = Astro.props;
---

<label>
	<div class="form-label">{ label } <span class="error-indicator"><IoInformationCircleSharp /></span></div>
	<div class="form-select">
		<select name={ name }>
			<slot />
		</select>
	</div>
</label>