---
import Form from './Controls/Form.astro';
import Input from './Controls/Input.astro';
import InputInline from './Controls/InputInline.astro';
import TextArea from './Controls/TextArea.astro';
import Submit from './Controls/Submit.astro';
import FormText from './Controls/FormText.astro';
---

<Form action="contact" query="?form=contact" method="post" novalidate>
	<p class="bg-success info-message" style="display: none">Gracias por contactarme!</p>
	<script>
		const query = new URLSearchParams(location.search);
		
		if (query.get('form') === 'contact') {
			const msg: HTMLElement | null = document.querySelector('.info-message');
			if (msg) {
				msg.style.display = '';
			}
		}
	</script>
	<div class="row">
		<div class="col medium-6">
			<Input type="text" name="name" label="Nombre"/>
		</div>
		<div class="col medium-6">
			<Input type="text" name="surname" label="Apellido(s)"/>
		</div>
		<div class="col medium-6">
			<Input type="email" name="email" label="Correo electrónico"/>
		</div>
		<div class="col">
			<TextArea name="message" label="Mensaje"></TextArea>
		</div>
		<div class="col">
			<FormText>
				He leído los <a href="#" title="" target="_blank">términos logales</a>, la <a href="#" title="" target="_blank">política de privacidad</a> y <a href="#" title="" target="_blank">uso de cookies</a>.<br>
				Los datos que nos facilites a través de éste formulario sólo se utilzarán para responderte y no quedarán almacenados ni registrados en ninguna base de datos.
			</FormText>
			<InputInline type="checkbox" name="legal" label="Acepto"/>
		</div>
		<div class="col justify-right">
			<Submit label="Enviar mensaje" />
		</div>
	</div>
</Form>